* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/media/imgs/background_login.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    display: flex;
}
body #container{
    background-color:#A076F9;
    height: 60vh;
    width: 30vw;
    margin: auto;
    box-shadow:2px 2px #7e7b7b;
    border-radius: 10px; 
    opacity: 0.8;
    overflow: hidden;
}
#container h1 {
    text-align: center;
    color: white;
    margin: 1.5rem;
    
}
#container .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    overflow: hidden;
}
::placeholder {
    color: #fff;
}
.box > div {
    width: 70%;
}
.box > div > input {
    background: transparent;
    margin: 0.5rem;
    padding: 0.7rem;
    width: 100%;
    text-align: left;
    font-size: 17px;
    border: none;
    outline: none;
    border-bottom: 3px solid #fff;
}
.box > div > input:hover {
    border-bottom: 2px solid #000;
    box-shadow: 1px 1px #000;
    background-color: #7e69d1;
}
.box .warning {
    border: 2px solid red;
    padding: 0.6rem 0;
    border-radius: 10px;
    display: none;

}

#password, #username {
    text-align: left;
}
#container #signup {
    cursor: pointer;
    background-color: #531bd6;
    text-align: center;
    font-weight: 700;
    border: none;
    color: #ffffff;
}
#container #signup:hover {
    background-color: #2b09ea;
    box-shadow: 2px 2px #fff;
}

#container p{
    color: #fff;
}
.forget {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
.forget a{
    color: #fff;
    text-decoration: none;
    
}
.forget input{
    padding:0.5rem;
}
#container p{
    text-align: center;
}
#container p a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    margin-left: 3rem;
}
/* Mobile */
@media (max-width: 372px){
    body #container{
        width: 90vw;
    }
    .box > div {
        width: 85%;
    }
    #container p a {
        margin-left: 1rem;
    }
}
@media (min-width: 372px) and (max-width: 768px){
    body #container{
        width: 80vw;
    }
    .box > div {
        width: 80%;
    }
    #container p a {
        margin-left: 1rem;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    body #container{
        width: 60vw;
    }
    .box > div {
        width: 75%;
    }
    #container p a {
        margin-left: 2rem;
    }
}
@media (min-width: 1024px) and (max-width: 1300px){
    body #container{
        width: 50vw;
    }
    .box > div {
        width: 75%;
    }
    #container p a {
        margin-left: 2rem;
    }
}