@media screen and(min-width: 1201px){
    main{
        height: 130vh;
    }
    .box_opacity{
        transform: translateX(150rem);
    }
}
@media screen and (max-width: 1200px){
    #main aside {
        top: 3rem;
        width: 17%;
    }
    .box_opacity{
        transform: translateX(150rem);
    }
    main .fake_box {
        width: 20%;
    }
    main .contain{
        width: 80%;
    }
    #main aside ul > li div a {
        font-size: 15px;
    }
    .inputTable {
        bottom: 20%;
        right: 18%;
        left: 18%;
        top: 25%;
    }
    #logout {
        width: 55vw;
        min-height: 40vh;
        border-radius: 10px;
    }
}
@media screen and (max-width: 971px){
    main{
        height: 100vh;
    }
    .box_opacity{
        transform: translateX(150rem);
        
    }
    #expense > label >input {
        width: 40%;
    }
    #expense > label > i{
        margin-top: .3rem;
        margin-left: .5rem;
    }
    #income > label >input {
        width: 40%;
    }
    #income > label > i{
        margin-top: .3rem;
        margin-left: .5rem;
    }
    #main{
        height: 150vh;
        background-color: aliceblue;
    }
    .inputTable {
        bottom: 20%;
        right: 12%;
        left: 12%;
        top: 25%;
    }
    #logout {
        width: 55vw;
        min-height: 40vh;
        border-radius: 10px;
    }
    #main aside ul > li div a >i{
        font-size: 25px;
        text-align: center;
        margin: 0 auto;
    }
    #main aside ul > li div >i{
       display: none;
    }
    #main aside ul > li div a span{
        display: none;
    }
    .submenu li a span{
        display: none;
    }
    .submenu li a {
        margin-left: 2.3rem;
        font-size: 20px;
    }
    #main aside {
        top: 3rem;
        width: 9%;
        display: flex;
    }
    main .fake_box {
        width: 10%;
    }
    main .contain{
        width: 87%;
        margin-left: 1rem;
    }
    /* dasdboard */
    .box_expense h3:first-child{
        font-size: 17px;
    }
    .dasdboard :nth-child(2){
        display: block;
    }
    .dasdboard :nth-child(2) .target{
        width: 75%;
        overflow: hidden;
    }
    .dasdboard :nth-child(2) .incomeMoney{
        width: 75%;
        margin: 0 auto;
        margin-top: 2rem;
        padding: 1.5rem;
    }
    .dasdboard :nth-child(2) .incomeMoney input{
        display: block;
    }
    label{
        display: flex !important;
        justify-content: center;
    }
    .moneyCurrent{
        width: 75%;
    }

    /* chart */
    #chose{
        width: 20%;
    }
    main{
        height: 150%;
    }
    .box{
        width: 80%;
    }
}

@media screen and (max-width: 800px){
    .showTask_bar{
        display: block;
    }
    .box_opacity{
        transform: translateX(0);
    }
    #expense > label >input {
        width: 40%;
    }
    #expense > label > i{
        margin-top: .3rem;
        margin-left: .5rem;
    }
    #income > label >input {
        width: 40%;
    }
    #income > label > i{
        margin-top: .3rem;
        margin-left: .5rem;
    }
    #main aside ul > li div >i{
        display: inline;
    }
 
    #main aside ul > li div a span{
        display: inline;
       
    }
    #main aside ul > li div a i{
        font-size: 18px;
    }
    .submenu li a span{
         display: inline;
    }
    #main aside {
        top: 3rem;
        width: 45%;
    }
    main .fake_box {
        width: 19%;
        display: none;
    }
    main .contain{
        width: 98%;
        margin-left: 1rem;
    }
    #main aside ul > li div a span{
         font-size: 18px;
     }
    .submenu li a {
        margin-left: 2.3rem;
        font-size: 18px;
    }
    .inputTable {
         bottom: 20%;
         right: 6%;
         left: 6%;
         top: 25%;
     }
    #logout {
        width: 80vw;
        min-height: 40vh;
        border-radius: 10px;
    }
    .inputTable h2{
        margin-top: 1rem;
        padding-bottom: .5rem;
    }
    .tableIncome .inputTable input {
        padding: 0.4rem;
        width: 100%;
        border-radius: 5px;
    }
    #main aside ul > li div a span{
        font-size: 15px;
    }
    /* dasdboard */
    .box_expense{
        display: block !important;
        margin: 3 auto;
        margin-top: 2rem;
    }
}
@media screen and (max-width: 600px){
    nav h1{
        font-size: 20px;
    }
    .submenu li a {
        margin-left: 2.3rem;
        font-size: 18px;
    }
    #expense > label >input {
        width: 50%;
    }
    #expense > label > i{
        margin-top: .3rem;
        margin-left: .5rem;
    }
    #income > label >input {
        width: 50%;
    }
    #income > label > i{
        margin-top: .3rem;
        margin-left: .5rem;
    }
    .inputTable {
        bottom: 20%;
        right: 6%;
        left: 6%;
        top: 25%;
    }
    #logout {
        width: 80vw;
        min-height: 40vh;
        border-radius: 10px;
    }
    .inputTable h2{
        margin-top: 1rem;
        padding-bottom: .5rem;
    }
    .tableIncome .inputTable input {
        padding: 0.4rem;
        width: 100%;
        border-radius: 5px;
    }
    /* dasdboard */
  
    .dasdboard :first-child{
        display: block;
    }
    .dasdboard >div >div{
        width: 65%;
    }
    .dasdboard >div >div > h3{
        padding: .5rem;
    }
    .dasdboard :nth-child(2){
        display: block;
    }
    .dasdboard :nth-child(2) .target{
        width: 98%;
        overflow: hidden;       
    }
    .dasdboard :nth-child(2) .target h2{
        font-size: 20px;
    }
    .header_target > div.flex {
        display: flex;
    }
    label{
        display: flex;
        flex-wrap: nowrap;
    }
    .dasdboard :nth-child(2) .incomeMoney{
        width: 98%;
        margin: 0 auto;
        margin-top: 2rem;
        padding: 1.5rem;
    }
    .dasdboard :nth-child(2) .incomeMoney input{
        display: block;
    }
    label{
        display: flex !important;
        justify-content: center;
        padding: .5rem;
    }
    .moneyCurrent{
        width: 95%;
    }
    .box_expense{
        display: block;
        margin: 0 auto;
        margin-top: 2rem;
    }
    .icon_main{
        display: none;
    }
    .box_expense:last-child{
        margin-bottom: 3rem;
    }
    /* expense */
    .inputTable{
        top:20%;
        bottom: 15%;
    }
    form .left{
        margin-bottom: 0 !important;
    }
    form .right{
        margin-top: .5rem !important;
    }
    /* chart */
   #chose{
    width: 35%;
   }
}
@media screen and (max-width: 400px){
    nav h1{
        font-size: 19px;
    }
    #expense >div >h1{
        font-size: 22px;
    }
    #expense > label >input {
        width: 60%;
    }
    #expense > label > i{
        margin-top: .3rem;
        margin-left: .5rem;
    }
    #income > label >input {
        width: 60%;
    }
    #income > label > i{
        margin-top: .3rem;
        margin-left: .5rem;
    }
    nav .user_src > div{
        display: none;
    }
    .showTask_bar{
        display: block;
    }
    #main aside ul > li div >i{
        display: inline;
    }
    #main aside ul > li div a span{
        display: inline;
    }
    .submenu li a span{
         display: inline;
    }
    #main aside {
        top: 3rem;
        width: 80%;
        /* display: none !important; */
    }
    main .fake_box {
        width: 19%;
        display: none;
    }
    main .contain{
        width: 100%;
        margin-left: 1rem;
    }
    
    #main aside ul > li div a span{
         font-size: 18px;
    }
    .submenu li a {
        margin-left: 2.3rem;
        font-size: 18px;
    }
    .inputTable {
        bottom: 20%;
        right: 18%;
        left: 18%;
        top: 25%;
    }
    #logout {
        width: 90vw;
        min-height: 40vh;
        border-radius: 10px;
    }
    #logout h3{
        font-size: 16px;
    }
    .inputTable h2{
        margin-top: 1rem;
        padding-bottom: .5rem;
    }
    .inputTable{
        top: 15%;
        left: 2%;
        right: 2%;
    }
    form > div:first-child {
        display: block;
    }
    form > div:first-child > div {
       margin: 1rem !important;
    }
    form > div:first-child p{
        font-size: 16px;
        font-weight: 550;
    }

    /* dashboard */
    .dasdboard :first-child{
        display: block;
    }
    .dasdboard >div >div{
        width: 65%;
    }
    .dasdboard >div >div > h3{
        padding: .5rem;
    }
    .dasdboard :nth-child(2){
        display: block;
    }
    .dasdboard :nth-child(2) .target{
        width: 98%;
        overflow: hidden;
        height: fit-content;
    }
    .dasdboard :nth-child(2) .target h2{
        font-size: 18px !important;
        margin-top: .5rem;
    }
  
    .dasdboard :nth-child(2) .incomeMoney{
        width: 98%;
        margin: 0 auto;
        margin-top: 2rem;
        padding: 1.5rem;
    }
    .dasdboard :nth-child(2) .incomeMoney input{
        display: block;
    }
    #target{
        width: 90%;
    }
    label.flex{
        display: flex !important;
        flex-wrap: nowrap;
    }
    .moneyCurrent{
        width: 95%;

    }
    .incomeMoney h2{
        font-size: 20px;
    }
    .moneyCurrent h2{
        font-size: 20px;
    }

    /* Income */
    #income > div.flex h1{
        font-size: 18px;
    }
    #income > div.flex h2 sub{
        font-size: 18px;
    }
    .tableIncome .inputTable input {
        padding: 0.4rem;
        width: 100%;
        border-radius: 3px;
    }

    /* chart */
    .h1_main{
        font-size: 25px;
    }
    #chose{
        width: 40%;
    }
    .contain >div>div >h1{
        font-size: 25px;
    }
    .box{
        width: 100%;
    }
    .box > h2{
        font-size: 18px;
    }
}

